
	<div style="width:50%;">
	<form class="add_resourses" id="add_resourses" action="../resourses/change_cat" data-remote="true">
		<input id="1" type="checkbox"> Главные новости </br>
	    <input id="2" type="checkbox"> Политика </br>
		<input id="3" type="checkbox"> Экономика </br>
	    <input id="4" type="checkbox"> Спорт </br>
	    <input id="5" type="checkbox"> Наука и техника</br>
	    <input id="6" type="checkbox"> Авто </br>
	    <input id="7" type="checkbox"> Культура </br>
		<input id="8" type="checkbox"> В мире </br>
	    
	    <button class="btn btn-success" type="submit">Применить</button>
	</form>
	</div>